@model Coffee_web.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
<h2 style="font-size: 30px; font-family: 'Roboto Slab', serif; margin-bottom: 15px;">Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Khách Hàng Mới</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_customer)
        <div class="form-group">
            @Html.LabelFor(model => model.id_customer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_customer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_customer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.number_phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number_phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.number_phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" onclick=" return confirm('Register successfull...')" />
            </div>
        </div>
    </div>
}


<div>
    <button onclick="goBack()">Back to ProductClient</button>
</div>

<script>
    function goBack() {
        window.location.href = '@Url.Action("Show", "ShoppingCart")';
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
